<!DOCTYPE html>
<html>
{% block head %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
    <link href="/static/css/styles.css"type="text/css" rel="stylesheet"/>
  </head>
{% endblock head %}
{% block body %}
<body>
<div id="wrapper">
    {% block navbar %}
      <nav class="navbar navbar-inverse">
        <div class="container">
        <ul class="nav navbar-nav pull-left">
           <li><a href="{{url_for('main.display_all')}}">Armatura Łazienkowa</a></li>
         </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a href="{{url_for('main.display_dodaj')}}">Zamów</a></li>
              <li><a href="{{url_for('main.display_flota')}}">Flota</a></li>
              <li><a href="{{url_for('main.display_firma')}}">Firma</a></li>
            </ul>
        </div>
      </nav>
    {% endblock navbar %}
  </div>

   <div class="container">
      {% block content %}
      {% endblock %}
  </div>

</body>

{% endblock body %}

</html>